<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="empoluboyarov.com.gashelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".simplecounts.CalcZActivity"
            android:label="Коэффициент сжимаемости "
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".simplecounts.CalcAdiabataActivity"
            android:label="Коэффициент адиабаты"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".simplecounts.CalcFactDensActivity"
            android:label="Фактическая плотность газа"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".simplecounts.CalcGasCountActivity"
            android:label="Запас газа в газопроводe"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".methodics.BaseMethodicsActivity"
            android:label="@string/title_activity_base_methodics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".simplecounts.CalcSpeedSoundActivity"></activity>
    </application>

</manifest>